.App {
  text-align: center;
}

.header-container {
  position: fixed;
  width: 100%;
  z-index: 5;
}

.header {
  border-bottom: 1em solid #ffc000;
  background-color: black;
  height: 4.5em;
  transform: translateY(-1.5em);
  z-index: 5;
}

.sidebar-master {
  height: 90%;
  z-index: 6;
}

.sidebar-styling {
  background-color: black;
  padding-bottom: 39.96em;
  position: fixed;
  padding-top: 9em;
  width: 4.5em;
  border-right: 1em solid #ffc000;
}

.sidebar {
  font-family: initial;
}

.sidebarIcon {
  padding-top: 1em;
  padding-bottom: 1em;
  transform: translateX(0.4em);
}

.main {
  background-color: white;
  color: black;
  height: 100%;
  min-height: 100%;
  transform: translateY(4em) translateX(6em);
  position: relative;
}

.mainDiv {
  margin: auto;
  width: 90%;
  padding: 5px;
}

.createForm {
  transform: translateY(-1em) translateX(-2em);
}

.create {
  font-size: 18pt;
  padding-top: 0.5em;
}